@import "../../styles/_breakpoints.scss";

.main {
  display: flex;
  justify-content: center;
}

.container {
  padding-right: 20px;
  flex-grow: 1;
}

// Mobile
@media (max-width: $mobile) {
  .container {
    padding-right: 0px;
  }
}